*,
html {
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
    color: black;
    opacity: 90%;
}

header {
    margin: 10px;
    padding: 15px;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 85%;
    cursor: default;
}

#headerPrivacy {
    background: none;
    color: white;
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-variant: normal;
    opacity: 95%;
    cursor: default;
    text-decoration: underline dotted;
}

#buttonBackPrivacy {
    position: relative;
    top: -22px;
    background-color: white;
    padding: 4px;
    color: black;
    float: right;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: .9em;
    font-family: Verdana;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: pointer;
    filter: drop-shadow(0 0 3px
    white);
}

#buttonBackPrivacy:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-color: black;
    color: white;
    border: 1px solid white;
    filter: drop-shadow(0 0 3px
    white);
    opacity: 85%;
}

#buttonBackPrivacy:active {
    background-color: white;
    color: black;
    border: 1px solid white;
}

.h3Pen {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    background: none;
    color: black;
    font-size: 1.1em;
    font-family: Arial;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
    text-decoration: underline;
}

.pPen{
    margin: 0 20px 0 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
    color: black;
    font-size: 1em;
    font-family: monospace;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 80%;
    cursor: default;
}

.pPen:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-color: lightgray;
    color: black;
    opacity: 90%;
}